:root {
  --base-bg-color: #0f0f0f;
  --bg-color: #232d3f;
  --nav-bg-color-secondary: #005b41;
  --nav-bg-color: #008170;
  --text-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--base-bg-color);
}
